[Unit]
Description=Dynamic Workspace Names for Sway
[Service]
ExecStart=/home/tom/.local/bin/wsdnames.py
Restart=on-failure
[Install]
WantedBy=sway-session.target
