/* Scrollbar width fixes */

/*
scrollbar.vertical slider,
scrollbar.slider.vertical
{
    min-width: 0.5em;
}
scrollbar.horizontal slider,
scrollbar.slider.horizontal
{
    min-height: 0.5em;
}
*/

/* Steppers */
* {
    -GtkScrollbar-has-backward-stepper: 1;
    -GtkScrollbar-has-forward-stepper: 1;
}

scrollbar button {
    min-width: 1em;
    min-height: 1em;
}

scrollbar.vertical button.down {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

scrollbar.vertical button.up {
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

scrollbar.horizontal button.down {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

scrollbar.horizontal button.up {
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}

scrollbar button {
	color: #595959;
}

scrollbar button:hover {
	color: #000000;
}

scrollbar button:hover:active {
	color: #1a74d3;
}

scrollbar button:disabled, scrollbar button:backdrop {
	color: #cecece;
}

undershoot {
	background:none;
}

overshoot {
	background:none;
}
